/* background of whole app*/

body {
  background: #ffffff;
}

/*header from Header jsx*/

.page-header {
  height: 200px;
  width: 100%;
  font-family: 'Anton', sans-serif;
  color: #FF1920;
  text-align: center;
}

/*header title from Header jsx*/

.page-title {
  font-size: 35px;
}

/*header position from Header jsx*/

.page-header {
  font-size: 20px;
}

/*header-slogan from Header jsx*/

.page-slogan {
  font-size: 100%;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.entries {
  margin: 1% 10% 1% 10%;
  width: 80%;
  text-align: center;
  background: rgb(224, 221, 221);
  border: 1px solid black;
}